body{
    height:100vh;
    background-image: url(../images/1898667.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Anonymous Pro', monospace;
}
/* Hero section */

.hero{
    background-color: #2F323A;
    opacity:0.9;
   
}
.title,
.subtitle{
    color:#f4b824 ;
    font-weight: bolder;

}

.press-start{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
 
#startBtn,
.hint{
    background-color: #ba8c1a ;
    color:whitesmoke;
    border:#ba8c1a
}

.hint{
    animation: jump-shaking 1s infinite;
  }

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}

/* Main game section */
.container{
    margin-top:10vh;
}
.box{
    background-color: #2F323A;
    opacity:0.9;
    
}
#playTitle,
#wordSpaces,
#guessesLeft,
#wins,
#losses,
#possible,
#wrongLetters{
    color:#f4b824 ;
}

.alphaBtn{
    background-color:#012A36 !important ;
    color:whitesmoke;
    border: solid 2px rgb(244,184,36, .5) !important ;
    border-radius:30%;
}

.alphaBtn:hover{
    color: #efcd21 !important;
}

#hint-btn{
    display: flex;
    justify-content: center;
}

/* .modal-card-body{
    justify-content: center;
} */