body{
    height:100vh;
    background-image: url(../images/1898667.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Anonymous Pro', monospace;
}
/* Hero section */

.hero{
    background-color: #2F323A;
    opacity:0.9;
   
}
.title,
.subtitle{
    color:#f4b824 ;
    font-weight: bolder;

}

.press-start{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
 
#startBtn{
    background-color: #9B6F75;
    color:whitesmoke
}

/* Main game section */
.container{
    margin-top:10vh;
}
.box{
    background-color: #2F323A;
    opacity:0.9;
    
}
#playTitle,
#wordSpaces,
#guessesLeft,
#wins,
#losses,
#possible,
#wrongLetters{
    color:#f4b824 ;
}

.alphaBtn{
    background-color:#012A36 !important ;
    color:whitesmoke;
    border: solid 2px rgb(244,184,36, .5) ;
    border-radius:30%;
}
.alphaBtn:hover{
    color: #efcd21 !important;
}

/* .modal-card-body{
    justify-content: center;
} */