body{
    height:100vh;
    background-image: url(../images/1898667.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
/* Hero section */

.hero{
    background-color: #2F323A;
    opacity:0.9;
   
}
.title,
.subtitle{
    color:#E39EC1;
    font-weight: bolder;

}

#startBtn{
    background-color: #9B6F75;
    color:whitesmoke
}

/* Main game section */
.container{
    margin-top:10vh;
}
.box{
    background-color: #2F323A;
    opacity:0.9;
    
}
#playTitle,
#wordSpaces,
#guessesLeft,
#wins,
#losses,
#possible,
#wrongLetters{
    color:#E39EC1;
}

.alphaBtn{
    background-color:#012A36 !important ;
    color:whitesmoke;
    border: solid 2px #D295BF;
    border-radius:30%;
}
.alphaBtn:hover{
    color:#D295BF;
}
